* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
body{
 font-family: sans-serif;
 font-size: 20px;
 font-weight: 500;
 }
 
 .nav-center{
     display: flex;
     width: 100vw;
     height: 4rem;
     background: #241e1e;
     color: #fff;
     justify-content: space-between;
     align-items: center;

 }

 .nav-center h4{
     position: relative;
     left: 4rem;
     display: flex;
     font-size: 2rem;
 }
 .nav-center ul {
    position: relative;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    right: 4rem;
 }
 .nav-center li{
     display: flex;
     justify-content: space-between;
     align-content: center;
    
 }
 .nav-center  a{
color: #fff;
text-decoration: none;
justify-content: space-between;
align-content: center;
display: flex;
 }

 .container{
     width: 28vw;
     height: 14vh;
     background: #241e1e;
     color: #fff;
     position: absolute;
     border: 1rem;
     border-radius: 5px;
     top: 50%;
     left: 40%;
 }
 .container h2{
     justify-content: center;
     align-content: center;
     font-size: 2rem;
     padding-left: 7rem;
 }
 .container span{
     position: relative;
     justify-content: center;
     align-content: center;
     color: rgb(13, 85, 167);
    display: block;
    padding-left: 3rem;
    top: .5rem;
 }
 .container .btn{
     width: 7rem;
     height: 4rem;
     background: black;
     color: #fff;
     border-radius: 10px;
     margin-top: 2rem;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10rem;
    
    align-content: center;

 }
 .container .btn:hover{
     background:rgb(167, 13, 154);
 }

@media(max-width: 800px){
    .nav-center{
        width: 100%;
        flex-direction: column;
    }
    .nav-center h4{
        position: relative;
        font-size: 1.5rem;
       
        
    }
    .nav-center ul li a{
        flex-direction: column;
       display: block;
        
    }
    .container{
        display: block;
        width: 100%;
        height: 20vh;
        left: 0;
        top: 40%;
        justify-content: center;
        align-content: center;
        
    }
    .container span{
        align-content: center;
        padding-right: 3rem;
        justify-content: center;
        flex-direction: column;
      
    }
    .container .btn{
        justify-content: center;
        margin-left: 7rem;
        top: 2rem;
      
    }
}